@import './base.css';

* {
  background-color: #f8c997;
}
:root {
  --color-orange: #e2970c;
}





.form-control {
  width: 80% !important;
  height: 40px;
  border-color: var(--color-orange) !important;
}

